*{
    padding: 25px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}


.caixas{
    background-color: rgb(209, 212, 213);
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.caixas div{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.caixa1{
    background-color: blueviolet;
    width: 150px;
    height: 150px; 
    display: flex;
    flex-direction: column;

}

.caixa2{
    background-color: #864388;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

button{
    width: 200px;
    font-size: 18px;
    color: rgb(57, 57, 57);
    border-radius: 5px;
    background-color: rgb(163, 167, 171);
    transition: 0.5s all;
    margin-bottom: 15px;
    
}

button:hover{
    width: 220px;
    height: 80px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 2px 2px 7px 2px rgb(104, 104, 104);
    background-color: rgb(255, 255, 255);
    transition: 0.5s all;
    font-weight: bolder;
}

button:hover[id='azul']{
    background-color: lightskyblue;
}

button:hover[id='violeta']{
    background-color: blueviolet;
}

button:hover[id='verde']{
    background-color: green;
}

button:hover[id='pink']{
    background-color: #864388;
}